.book{
    width: 240px;
    height: 400px;
    position: relative;
    filter: drop-shadow(0 0 1px rgb(42, 47, 79, 0.7));
    border-radius: 5px;
    overflow: hidden;
}

.book__img{
    top: 12px;
    left: calc((240px - 170px) / 2);
    width: 170px;
    filter: none;
    border: 8px var(--cream-color) solid;
}

.book:hover .book__img{
   transform: none;
}

.book__data {
    width: 100%;
    transform: translateY(300px);
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.book__title {
    font-size: 1.3em;
}

.book__price {
    font-size: 1em;
}

.price-btn{
    margin-top: 10px;
}

.book:hover .book__data{
    transform: translateY(250px);
    background-color: rgba(239, 230, 230, 0.98);
}

@media only screen and (max-width: 768px){
    .book{
        width: 210px;
        height: 350px;
    }

    .book__img{
        top: 12px;
        left: calc((200px - 130px) / 2);
        width: 130px;
    }

    .book__data{
        transform: translateY(230px);
        background-color: rgba(239, 230, 230, 0.98);
    }

    .price-btn{
        opacity: 1;
    }

    .book:hover .book__data{
        transform: none;
    }
}