/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Nguyen Viet Ha
ID: s3978128
Acknowledgement:
Code snippets from W3Schools, Stack Overflow, and other sources are studied, tweaked and incorporated in this project.
*/

/* Book cards for this page */

.book{
    width: 240px;
    height: 400px;
    position: relative;
    filter: drop-shadow(0 0 1px rgb(42, 47, 79, 0.7));
    border-radius: 5px;
    overflow: hidden;
}

.book__img{
    top: 12px;
    left: calc((240px - 170px) / 2);
    width: 170px;
    filter: none;
    border: 8px var(--cream-color) solid;
}

.book:hover .book__img{
   transform: none;
}

.book__data {
    width: 100%;
    transform: translateY(300px);
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.book__title {
    font-size: clamp(0.9em, 1.4vw, 1.3em);
}

.book__price {
    font-size: 1em;
}

.price-btn{
    margin-top: 2%;
}

.book:hover .book__data{
    transform: translateY(250px);
    background-color: rgba(239, 230, 230, 0.98);
}

/*Large screensize*/

@media only screen and (min-width: 1350px){
    
        .book{
            width: 300px;
            height: 450px;
        }
    
        .book__img{
            top: 12px;
            left: calc((300px - 200px) / 2);
            width: 200px;
        }
    
        .book__data{
            transform: translateY(330px);
        }
    
        .book:hover .book__data{
            transform: translateY(280px);
        }

        .book__title {
            font-size: clamp(0.9em, 1.2vw, 1.6em);
        }
}

/*Media query for smaller screen size*/

@media only screen and (max-width: 860px){
    .category__title{
        font-size: clamp(0.5em, 0.8vw, 1.2em);
        line-height: 1.5em;
    }

    .book{
        width: 210px;
        height: 350px;
    }

    .book__img{
        top: 12px;
        left: calc((200px - 130px) / 2);
        width: 130px;
    }

    .book__data{
        transform: translateY(230px);
        background-color: rgba(239, 230, 230, 0.98);
    }

    .price-btn{
        opacity: 1;
    }

    .book:hover .book__data{
        transform: none;
    }
}