::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.container {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 50%;
    margin: 5% auto;
}

.title {
    width: 180px;
    margin-right: 5px;
    flex-shrink: 0;
    scroll-snap-align: start;
}