/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Nguyen Viet Ha
ID: s3978128
Acknowledgement:
Code snippets from W3Schools, Stack Overflow, and other sources are studied, tweaked and incorporated in this project.
*/

h1{
    font-size: clamp(1.5em, 2.5vw, 4em);
    font-weight: 600;
}

/*--
Homepage landing
--*/

.hero {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
    height: 100%;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10% 10% 3% 10%;
    background: url(../images/homepage/bg.png) no-repeat center center/cover;
}

/*Text on left side*/

.hero__msg {
    animation: slideInLeft 0.55s ease-in-out;
}

/*Small welcome text*/

.hero__msg>p {
    font-style: italic;
    margin: 0;
    font-size: clamp(0.8em, 1.5vw, 1em);
}

.hero__msg>p::before {
    content: '⁠—';
}

/*Large text block*/
.msg__content {
    margin-left: 2vw;
    width: 85%;
}

.hero__msg h1 {
    font-size: clamp(2.5em, 5vw, 4.5em);
    width: 120%;
}

.hero__msg p {
    font-size: clamp(1em, 1.4vw, 2em);
    line-height: 1.5em;
    padding: 2%;
}

/*Start browsing button*/

.btn-hero {
    z-index: 1;
    border: 2px solid transparent;
    font-size: clamp(1em, 1.4vw, 2em);
    margin: 2%;
    padding: 3% 8%;
}

.btn-hero:hover {
    background-color: transparent;
    border: 2px solid var(--text-color);
    transform: translateX(8px);
}

.btn-hero a {
    font-weight: 800;
    color: var(--text-color);
}

/*Big illustration on right side*/

.hero__illustration img {
    animation: slideInRight 1s ease-in-out;
}

/*--
Stats section
--*/

.stats {
    margin-top: 3%;
    position: relative;
    text-align: center;
}

.stats__intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 25vw;
}

.stats__illust {
    width: 60%;
    margin: 0 3%;
}

.stats__illust img {
    margin: 0 auto;
}

.stats__intro-msg {
    padding: 2%;
    font-size: clamp(1em, 1.5vw, 1.5em);
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
}

.stats__content {
    padding: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats__item {
    padding: 1%;
    margin: 0 10px;
    border-radius: 10px;
    background-color: var(--cream-color);
    max-width: 150px;
    transition: 0.3s ease;
    font-size: 1.2em;
}

.stats__item:hover {
    box-shadow: 0 0 10px rgb(42, 47, 79, 0.5);
    transform: translateY(-10px);
}

.stats__item h3 {
    margin: 5px;
}

.stats__item img {
    width: 30%;
}

.stats>p {
    text-align: center;
    font-size: clamp(0.8em, 1.5vw, 1em);
    font-style: italic;
}

/*--
Photos feature section
--*/

.feature {
    margin: 2% 0;
}

.feature__msg h1 {
    text-align: center;
    margin: 5% 0 2% 0;
}

.feature__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 300px;
    overflow: hidden;
}

.col {
    margin: 0 2%;
}

.col-1 {
    width: 450px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.col__img {
    position: relative;
    filter: brightness(0.8);
    transition: 0.3s ease;
}

.col__img:hover {
    filter: brightness(1);
    cursor: pointer;
}

.col img,
.col__desc p {
    transition: all 0.3s ease-in-out;
}

.col__desc {
    position: absolute;
    top: 2%;
    left: -5%;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--bg-color);
    padding: 0 5%;
    line-height: 1.4em;
    font-weight: 500;
}

.col-1 .col__desc {
    width: 20vw;
}

.col-2 .col__desc {
    width: 15vw;
    font-size: 0.8em;
}


/*--
Video section
--*/

.youtube {
    margin-top: 8%;
    background-color: var(--cream-color);
    display: flex;
    padding: 5% 8%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.youtube__desc {
    width: 50%;
    padding: 0 5%;
}

.youtube__desc p{
    font-size: clamp(0.9em, 1.2vw, 1.2em);
    line-height: 1.6em;
}


/*--
Newsletter section
--*/

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    padding: 0 5%;
}

.newsletter h1{
    font-size: clamp(1.5em, 2vw, 2.5em);
    font-weight: 600;
    margin-bottom: 2%;
}

.newsletter p {
    margin-bottom: 5%;
}

.newsletter__illust {
    margin: 0 30px;
    width: 25%;
}

.newsletter input[type="email"] {
    width: 50%;
    padding: 5px;
    height: 3em;
    margin-right: 10px;
    font-family: 'Raleway', serif;
}

.newsletter .btn {
    padding: 8px 15px;
}

.newsletter .btn:hover {
    transform: none;
    background-color: var(--shadow-color);
    color: var(--bg-color);
}

/*--
Media queries
--*/

/*Large screensize*/

@media only screen and (min-width: 1350px) {
    .stats__intro-msg{
        font-size: clamp(1.2em, 1.5vw, 2.5em);
    }

    .stats__item{
        font-size: clamp(1.1em, 1.3vw, 1.8em);
    }

    .stats__item img{
        width: 60%;
        margin: 20%;
    }

    .book{
        width: 500px;
        height: 300px;
    }

    .book__title{
        font-size: clamp(1.5em, 1.4vw, 1.9em);
    }

    .book__desc{
        font-size: clamp(0.8em, 0.9vw, 1.7em);
    }
    
    .feature__content {
        height: 450px;
    }

    .col-1 {
        width: 600px;
    }
    
    .col-2 {
        width: 400px;
    }
    
    .col__desc p{
        font-size: 1.8em;
        line-height: 1.5em;
    }

    .newletter__msg h1{
        font-size: 3em;
    }

    .newletter__msg p,
    form,
    .youtube__desc p{
        font-size: 1.3em;
        line-height: 2em;
    }

    .youtube{
        padding: 5% 10%;
    }

    .youtube__vid iframe{
        width: 450px;
        height: 300px;
    }
}

/*Smaller screensize*/

@media only screen and (max-width: 1200px) {
    .hero {
        padding: 15% 10% 0 10%;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 992px) {
    .msg__content{
        width: 100%;
    }
    .youtube__desc {
        text-align: center;
        width: 100%;
        margin-top: 2%;
        line-height: 1.5em;
        font-size: clamp(1.4em, 2vw, 3em);
    }

    /*Disable animations for touch screen*/
    .btn-hero:hover{
        transform: none;
    }

    .col__img{
        filter: brightness(1);
    }
}

/*Mobile view*/

@media only screen and (max-width: 768px) {
    .stats__content{
        padding: 0 2%;
    }

    .feature__content {
        height: 100%;
    }

    .col-1,
    .col-2 {
        width: 100%;
    }

    .col__img {
        width: 55vw;
        margin-inline: auto;
    }
    
    .col__desc {
        top: 1em;
    }
    
    .col-1 .col__desc,
    .col-2 .col__desc {
        width: 50vw;
        font-size: clamp(1.1em, 1.5vw, 2em);
    }

    .hero {
        grid-template-columns: none;
        gap: 0;
        margin-top: 3em;
    }

    .hero__msg{
        background-color: rgba(239, 230, 230, 0.9);
        text-align: center;
        width: 100%;
        font-size: clamp(1em, 3vw, 3em);
    }

    .hero__illustration{
        width: 70%;
        margin: 10% auto 0 auto;
    }

    .hero__msg h1 {
        width: 100%;
    }

    .msg__content {
        margin-left: 0px;
    }

    .hero__msg > p::before {
        content: '';
    }

    .stats__intro {
        flex-direction: column;
        padding: 3% 15%;
        font-size: clamp(1em, 1.5vw, 3em);
    }

    .stats__illust{
        width: 40%;
    }
}

@media only screen and (max-width: 500px) {
    .col-1 .col__desc,
    .col-2 .col__desc {
        font-size: clamp(0.7em, 1.1vw, 2em);
    }
     
    .newsletter{
        flex-direction: column;
    }

    .newsletter__illust{
        width: 30%;
    }

    .newletter__msg{
        line-height: 1.7em;
        text-align: center;
    }

    .newsletter form{
        justify-content: center;
    }
}


