/*--
Homepage landing
--*/

.hero {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
    height: 100%;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10% 10% 3% 10%;
    background: url(../images/homepage/bg.png) no-repeat center center/cover;
}

/*Text on left side*/

.hero__msg {
    animation: slideInLeft 0.55s ease-in-out;
    z-index: 4;
}

/*Small welcome text*/

.hero__msg>p {
    font-style: italic;
    margin: 0;
}

.hero__msg>p::before {
    content: '⁠—';
}

/*Large text block*/
.msg__content {
    margin-left: 12%;
    width: 85%;
}

.hero__msg h1 {
    font-size: 4.5em;
    width: 120%;
}

.hero__msg p {
    font-size: 1.1em;
    padding: 2%;
}

/*Start browsing button*/

.btn-hero {
    z-index: 1;
    border: 2px solid transparent;
    font-size: 1.2em;
    margin: 2%;
    padding: 12px 30px;
}

.btn-hero:hover {
    background-color: transparent;
    border: 2px solid var(--text-color);
    transform: translateX(8px);
}

.btn-hero a {
    font-weight: 800;
    color: var(--text-color);
}

/*Big illustration on right side*/

.hero__illustration img {
    animation: slideInRight 1s ease-in-out;
}

/*--
Stats section
--*/

.stats {
    margin-top: 3%;
    position: relative;
    text-align: center;
}

.stats__intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 25%;
}

.stats__illust {
    width: 50%;
    margin: 0 5%;
}

.stats__illust img {
    margin: 0 auto;
}

.stats__intro-msg {
    padding: 2%;
    font-size: var(--h2-font);
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
}

.stats__content {
    padding: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats__item {
    padding: 1%;
    margin: 0 10px;
    border-radius: 10px;
    background-color: var(--cream-color);
    position: relative;
    max-width: 150px;
    transition: 0.3s ease;
    font-size: 1.2em;
}

.stats__item:hover {
    box-shadow: 0 0 10px rgb(42, 47, 79, 0.5);
    transform: translateY(-10px);
}

.stats__item h3 {
    margin: 5px;
}

.stats__item img {
    width: 30%;
}

.stats>p {
    text-align: center;
    font-size: small;
    font-style: italic;
}

/*--
Photos feature section
--*/

.feature {
    margin: 2% 0;
}

.feature__msg h1 {
    text-align: center;
    margin: 5% 0 2% 0;
    font-size: var(--h1-font);
    font-weight: 600;
}

.feature__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 300px;
    overflow: hidden;
}

.col {
    margin: 0 2%;
}

.col-1 {
    width: 450px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.col__img {
    position: relative;
    filter: brightness(0.8);
    transition: 0.3s ease;
}

.col__img:hover {
    filter: brightness(1);
    cursor: pointer;
}

.col img,
.col__desc p {
    transition: all 0.3s ease-in-out;
}

.col__desc {
    position: absolute;
    top: 2%;
    left: -5%;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--bg-color);
    padding: 0 5%;
    line-height: 1.4em;
    font-weight: 500;
}

.col-1 .col__desc {
    width: 20vw;
}

.col-2 .col__desc {
    width: 15vw;
    font-size: 0.8em;
}


/*--
Video section
--*/

.youtube {
    margin-top: 8%;
    background-color: var(--cream-color);
    display: flex;
    padding: 5% 8%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.youtube__desc {
    width: 50%;
    padding: 0 5%;
}


/*--
Newsletter section
--*/

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    padding: 0 5%;
}

.newsletter p {
    margin-bottom: 5%;
}

.newsletter__illust {
    margin: 0 30px;
    width: 25%;
}

.newsletter form {
    display: flex;
    align-items: center;
}

.newsletter input[type="email"] {
    width: 50%;
    padding: 5px;
    height: 3em;
    margin-right: 10px;
    font-family: 'Raleway', serif;
}

.newsletter .btn {
    padding: 8px 15px;
}

.newsletter .btn:hover {
    transform: none;
    background-color: var(--shadow-color);
    color: var(--bg-color);
}

/*--
Media queries
--*/

@media only screen and (max-width: 530px) {
    .hero {
        grid-template-columns: none;
        gap: 0;
        padding: 25% 3% 10% 3%;
    }

    .hero__msg,
    .hero__illustration {
        width: 100%;
        text-align: center;
    }

    .hero__msg{
        background-color: rgba(239, 230, 230, 0.9);
        padding: 5%;
    }

    .hero__illustration{
        width: 70%;
        margin: 10% auto 0 auto;
    }

    .hero__msg h1 {
        font-size: 3em;
        line-height: 1.4em;
        width: 100%;
    }

    .msg__content {
        margin-left: 0px;
        width: 100%;
    }

    .hero__msg > p::before {
        content: '';
    }

    .msg__content p {
        font-size: 1em;
        line-height: 1.6em;
    }

    .btn-hero {
        font-size: 1.5em;
        padding: 3% 8%;
        border: 1px solid var(--shadow-color);
    }

    .stats__intro {
        flex-direction: column;
    }

    .stats__intro-msg{
        font-size: 1em;
    }

    .stats__illust{
        width: 80%;
    }

    .stats__content {
        padding: 0 2px;
        margin: 0;
    }

    .stats__item{
        padding: 0;
        margin: 2%;
    }

    .stats>p {
        font-size: 0.9em;
    }

    .youtube__vid {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        overflow: hidden;
    }
    
    .youtube__vid iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .youtube__desc {
        font-size: 0.8em;
        line-height: 1.7em;
        text-align: center;
        width: 100%;
        margin-top: 2%;
    }

    .feature__content {
        height: 100%;
    }

    .col-1,
    .col-2 {
        width: 200px;
    }

    .col__img {
        position: relative;
        padding: 5%;
    }
    
    .col__desc {
        top: 10px;
    }
    
    .col-1 .col__desc,
    .col-2 .col__desc {
        width: 50vw;
        font-size: 0.7em;
    }

    .newsletter{
        flex-direction: column;
    }

    .newsletter__illust{
        width: 30%;
    }

    .newletter__msg{
        line-height: 1.7em;
        text-align: center;
    }

    .newsletter form{
        justify-content: center;
    }
}

@media only screen and (min-width: 530px) and (max-width: 650px) {
    .hero {
        grid-template-columns: none;
        gap: 0;
        padding: 20% 3% 10% 3%;
    }

    .hero__msg,
    .hero__illustration {
        width: 100%;
        text-align: center;
    }

    .hero__msg{
        background-color: rgba(239, 230, 230, 0.9);
    }

    .hero__illustration{
        width: 70%;
        margin: 10% auto 0 auto;
    }

    .hero__msg h1 {
        font-size: 3em;
        line-height: 1em;
        width: 100%;
    }

    .msg__content {
        margin-left: 0px;
        width: 100%;
    }

    .hero__msg > p::before {
        content: '';
    }

    .hero__msg h1 {
        font-size: 4em;
    }

    .msg__content p {
        font-size: 1.4em;
        line-height: 1.6em;
    }

    .btn-hero {
        font-size: 1.5em;
        padding: 3% 8%;
        border: 2px solid var(--shadow-color);
    }

    .stats__intro {
        flex-direction: column;
    }

    .stats__content {
        padding: 0 20px;
        margin: 2% 0;
    }

    .stats>p {
        font-size: 0.9em;
    }

    .youtube__desc {
        text-align: center;
        width: 100%;
        margin-top: 2%;
    }

    .feature__content {
        height: 100%;
    }

    .col-1,
    .col-2 {
        width: 350px;
    }

    .col__img {
        position: relative;
        padding: 5%;
    }
    
    .col__desc {
        top: 20px;
    }
    
    .col-1 .col__desc,
    .col-2 .col__desc {
        width: 35vw;
        font-size: 1em;
    }
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
    .hero {
        padding: 15% 3% 0 5%;
        grid-template-columns: 1.2fr 1fr;
        gap: 3em;
    }

    .hero__msg h1 {
        font-size: 3.5em;
        line-height: 1em;
    }

    .msg__content {
        margin-left: 20px;
        width: 90%;
    }

    .msg__content p {
        font-size: 1em;
        line-height: 1.5em;
    }

    .btn-hero {
        font-size: 1em;
        padding: 2% 3%;
    }

    .stats {
        margin-top: 8%;
    }

    .stats__intro {
        padding: 2% 20%;
    }

    .stats__content {
        padding: 0 120px;
        margin: 2% 0;
    }

    .stats>p {
        font-size: 0.9em;
    }

    .youtube__desc {
        text-align: center;
        width: 100%;
        margin-top: 2%;
    }

    .feature__content {
        height: 100%;
    }

    .col-1,
    .col-2 {
        width: 350px;
    }

    .col__img {
        position: relative;
        padding: 5%;
    }
    
    .col__desc {
        top: 20px;
    }
    
    .col-1 .col__desc,
    .col-2 .col__desc {
        width: 35vw;
        font-size: 1em;
    }

}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .hero {
        padding: 15% 8% 0 8%;
        grid-template-columns: 1.2fr 1fr;
    }

    .hero__msg h1 {
        font-size: 3.2em;
        line-height: 1em;
    }

    .msg__content {
        margin-left: 20px;
        width: 90%;
    }

    .msg__content p {
        font-size: 0.9em;
        line-height: 1.6em;
    }

    .btn-hero {
        font-size: 1em;
        padding: 2% 3%;
    }

    .stats {
        margin-top: 8%;
    }

    .stats>p {
        font-size: 0.9em;
    }

    .youtube__desc {
        text-align: center;
        width: 100%;
        margin-top: 2%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {

    .hero {
        padding: 15% 10% 0 10%;
        grid-template-columns: 1fr 1fr;
    }

    .hero__msg h1 {
        font-size: 4em;
    }

    .msg__content {
        margin-left: 15px;
        width: 100%;
    }
}