/*Define variables for color palette: */

:root {
    --primary-color: rgb(190, 189, 219);
    --secondary-color: rgb(190, 197, 207);
    --shadow-color: rgba(17, 17, 38, 0.8);
    --bg-color: rgb(250, 245, 245);
    --text-color: rgb(18, 18, 19);
    --cream-color: rgb(239, 230, 230);
    --light-color: rgb(250, 136, 136);
    --dark-color: rgb(207, 44, 44);

    --h1-font: 2.5em;
    --h2-font: 1.5em;
    --p-font: 0.9em;
}

/* make scrollbar transparent */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/*Reset default CSS, define normal behavior*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.75em;
    font-size: var(--p-font);
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1,
h2 {
    font-weight: bolder;
    line-height: 1.5em;
    margin: 10px 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: var(--h1-font);
}

h2 {
    font-size: var(--h2-font);

}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/*Button styles*/

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: var(--text-color);
    font-weight: 600;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}

#top-btn {
    opacity: 0;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    z-index: 99;
    font-size: 2em;
    border: none;
    outline: none;
    background-color: var(--shadow-color);
    color: var(--bg-color);
    opacity: 0.9;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    transition: 0.2s ease;
}

/*Same CSS for header and footer navbar*/

header,
footer {
    width: 100%;
    overflow: hidden;
    display: flex;
    transition: all 0.5s ease;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar a {
    margin: 0 5px;
}

/*Header logo and navbar*/

header {
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 0%;
    right: 0;
    z-index: 100;
    padding: 1% 10%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 35px;
    height: 35px;
}

.logo span {
    color: var(--dark-color);
    text-transform: uppercase;
    font-size: 1.5em;
}

.logo h1 {
    margin-left: 3%;
    font-weight: 800;
    font-size: var(--p-font);
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav a,
.h-right i {
    display: block;
    font-weight: 600;
    padding: 10px;
    padding-bottom: 3px;
    border-bottom: 2px transparent solid;
    transition: 0.3s ease-in-out;
}

header nav a:hover {
    border-bottom: 2px var(--dark-color) solid;
    color: var(--dark-color);
}

.h-right {
    display: flex;
    margin: 0 5%;
}

.h-right i {
    vertical-align: center;
}

.h-right i:hover {
    transform: translateY(-5px);
    color: var(--light-color);
}

/*--Sticky header--*/
header.sticky {
    background-color: var(--shadow-color);
    backdrop-filter: blur(35px);
}

header.sticky nav a,
header.sticky .h-right i,
header.sticky .logo h1 {
    color: var(--bg-color);
}

header.sticky .logo span {
    color: var(--light-color);
}

header.sticky nav a:hover {
    border-bottom: 2px var(--light-color) solid;
    color: var(--light-color);
}

header.sticky .h-right i:hover {
    color: var(--light-color);
}

header.sticky .h-right i,
header.sticky nav a {
    font-weight: 500;
}

/*--
Book showcase cards (used in homepage and category page)
--*/

#showcase {
    padding: 2% 0;
}

.category {
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
    margin: 5% 3%;
    background-color: var(--cream-color);
}

.category:last-child {
    margin-bottom: 0;
}

.category__title {
    align-self: flex-start;
    font-weight: 600;
    padding: 5px;
}

.category__title a {
    text-decoration: none;
    font-size: var(--h1-font);
    background: var(--secondary-color);
    margin-bottom: 5px;
}

.category__title a:hover {
    background-color: var(--light-color);
    transform: translateX(3px);
}

.category__title p {
    font-size: var(--p-font);
    color: var(--dark-color);
    font-style: italic;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.category__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.book {
    width: 480px;
    height: 280px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 2%;
    position: relative;
}

.book__img {
    position: absolute;
    width: 165px;
    margin-left: 2%;
    filter: drop-shadow(3px 5px 1px rgba(31, 26, 61, 0.3))
}

.book__data {
    transform: translateX(200px);
    width: 60%;
    height: 100%;
    padding: 5%;
}

.book__title {
    font-size: clamp(1.2em, 1vw, 1.5em);
}

.book__desc {
    font-size: clamp(0.8em, 1vw, 1.2em);
    font-weight: 500;
    line-height: 1.8em;
}

.price-btn {
    display: block;
    width: max-content;
    border-radius: 5%;
    transition: 0.3s;
    background-color: var(--secondary-color);
    color: var(--text-color);
    opacity: 0;
    padding: 3% 5%;
}

.price-btn:hover {
    transform: none;
}

.book:hover .price-btn {
    opacity: 1;
}

.book:hover .book__data {
    background-color: var(--cream-color);
}

.book:hover .book__img {
    transform: translateY(-35px);
}

.book__img,
.book__data,
.book__title,
.book__desc {
    transition: all 0.5s ease;
}

/*Footer navbar*/
footer {
    justify-content: center;
    align-items: center;
    background-color: var(--shadow-color);
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px transparent solid;
    margin: 3% 0;
}

footer nav a {
    color: var(--bg-color);
    transition: all 0.5s ease;
    padding: 10px;
    padding-bottom: 6px;
}

.soc-med-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.soc-med-icons i {
    font-size: 2em;
    color: white;
    transition: all 0.5s ease;
    padding: 10px;
    padding-bottom: 20px;
}

.soc-med-icons i:hover {
    transform: translateY(-5px);
}

.soc-med-icons i:hover,
footer nav a:hover {
    border-bottom: none;
    color: var(--light-color);
}

/*Banner for category, book, contact pages*/

.banner {
    position: relative;
    margin: 0 auto;
    height: 50vh;
    background: linear-gradient(to top, #37343466 30%, #ffffffb6 100%), url('../images/homepage/feature-1.jpg') no-repeat center center/cover;
}

.banner__content {
    position: absolute;
    bottom: 0;
    color: var(--bg-color);
    width: 100%;
    padding: 1% 8%;
    font-size: clamp(0.8em, 1.3vw, 1.8em);
}

.banner__desc {
    width: 80%;
}

.banner__title {
    font-weight: 600;
    margin-bottom: 10px;
}

/*Menu icons*/

.h-right #menu-icon {
    display: none;
}

.h-right #close-icon {
    display: none;
    color: var(--bg-color);
}

.h-right #menu-icon,
.h-right #close-icon {
    font-size: 2.8em;
    position: absolute;
    right: 3%;
    top: 2vh;
}


/*Keyframes for animations*/
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/*Media queries*/
@media only screen and (max-width: 1250px) {
    .book {
        width: 380px;
    }

    .book__img {
        width: 120px;
        left: 5px;
    }

    .book__data {
        width: 65%;
        transform: translateX(140px);
        padding: 5%;
    }


    .price-btn {
        padding: 5%;
    }
}


@media only screen and (max-width: 800px) {

    /*Show hamburger menu*/

    .h-right #menu-icon {
        display: block;
    }

    .h-right #close-icon {
        display: none;
    }

    header .navbar ul {
        position: absolute;
        width: 100%;
        height: 100%;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: var(--shadow-color);
        transition: all 0.5s ease;
        padding: 15% 3%;
    }

    header .navbar a {
        margin-bottom: 40px;
        font-size: 2rem;
        color: var(--bg-color);
        font-weight: 500;
    }

    header .navbar a:hover,
    header .h-right i:hover {
        border-bottom: none;
        color: var(--text-color);
        transform: none;
    }

    /*Show close icon when menu clicked*/

    header .navbar .open {
        left: 0;
    }

    #menu-icon.active {
        display: none;
    }

    #close-icon.active {
        display: block;
    }

    /*Adjust header nav*/

    header {
        padding: 1% 2% 1% 7%;
        overflow: visible;
    }

    .h-right {
        margin-right: 12vw;
    }

    .h-right i {
        font-size: 1.3em;
        padding: 10px;
    }


    /*--Adjust book showcase cards*/

    .book {
        width: 500px;
    }

    .book__img {
        width: 160px;
        left: 10px;
    }

    .book__data {
        width: 60%;
        transform: translateX(200px);
        padding: 5%;
    }

    .book__title {
        font-size: clamp(1em, 1vw, 1.5em);
    }

    .book__desc {
        font-size: clamp(1em, 1vw, 1.8em);
    }

    .price-btn {
        padding: 3% 8%;
        font-size: clamp(0.7em, 1.3vw, 2em);
    }

    .h-right #menu-icon,
    .h-right #close-icon {
        font-size: 3em;
        top: 10px;
    }

    /*Disable hover effects for touch screen*/
    .book:hover .book__img {
        transform: none;
    }

    .price-btn {
        opacity: 1;
    }

    .book__data {
        background-color: var(--cream-color);
    }

    /*Banner for category and contact pages*/
    .banner {
        height: 40vh;
    }

}


@media only screen and (max-width: 530px) {

    .h-right #menu-icon,
    .h-right #close-icon {
        font-size: 1.8em;
    }

    .book {
        width: 300px;
        height: 220px;
    }

    .book__img {
        width: 90px;
        left: 5px;
    }

    .book__data {
        width: 60%;
        transform: translateX(120px);
        padding: 5%;
    }

    .book__title {
        font-size: clamp(1em, 1vw, 1.5em);
    }

    .book__desc {
        font-size: clamp(0.6em, 1vw, 1.8em);
    }

    footer nav a {
        font-size: 0.6em;
        padding: 5px;
        margin: 0;
    }

    .soc-med-icons i {
        font-size: 1.5em;
        margin-bottom: 10px;
        padding: 2px;
    }

    /*Banner for category and contact pages*/
    .banner {
        height: 30vh;
    }

    .banner__content {
        width: 100%;
        font-size: clamp(0.6em, 1.3vw, 1.8em);
        line-height: 1.5em;
    }

}