.welcome{
    width: 100%;
    height: 100%;
    min-height: 88vh;
    background-color: var(--primary-color);
    position: relative;
    padding: 2% 5% 0 7%;
    background: linear-gradient(var(--primary-color), var(--secondary-color));
}

.welcome::before,
.welcome::after{
    content:'';
    position:absolute;
    height: 100px;
    bottom: -70px;
    right:0;
    left:0;
    background-color: var(--bg-color);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

#welcome-txt{
    font-style: italic;
    margin: 0;
}

.welcome-msg{
    animation: slideInLeft 0.55s ease-in-out;
    z-index: 4;
}

.welcome-content{
    margin-left: 10%;
    width: 90%;
}

.welcome-msg h1{
    font-size: 2.6em;
    width: 140%;
}

.welcome-msg p{
    font-size: 1.1em;
    margin-bottom: 25px;
}

.btn-welcome{
    background-color: var(--primary-color);
    color: var(--text-color);
    z-index: 1;
    position: absolute;
    border: 1px solid transparent;
    font-size: 1.2em;
}

.btn-welcome:hover{
    background-color: transparent;
    border: 2px solid var(--bg-color);
    color: var(--text-color);
    transform: none;
}

.btn-welcome a,
.btn-welcome i{
    vertical-align: middle;
}

.btn-welcome i{
    font-size: 20px;
}

.btn-welcome a{
    color: var(--text-color);
}
 

.illustration{
    z-index: 1;
}

.illustration #blob-shadow{
    z-index: -5;
    position: absolute;
    bottom: 22%;
    right: 10%;
    width: 30%;
    height: auto;
    opacity: 0.7;
}

.illustration img{
    z-index: 3;
    position: relative;
    animation: slideInRight 1s ease-in-out;
}

h1 .stats-heading{
    font-weight: bold;
    font-size: 28px;
}

.stats{
    z-index: 1;
    position: relative;
    margin: 3% 0;
}

.stats .container{
    margin: 50px 0;
    padding: 0 200px;
    display: flex;
    justify-content: center;
}

#stats-h1{
    margin-top: 20px;
    padding: 2% 10%;
    font-size: 1.3em;
    font-weight: bold;
}

.stats-heading{
    font-size: 1.5em;
}

#stats-illust img{
    margin-top: 30%;
    width: 80%;
    background-color: var(--cream-color);
    padding: 8%;
    border-radius: 100%;
}

.content{
    padding: 0 10px 20px 10px;
    margin: 0 10px;
    font-size: medium;
    border-radius: 10px;
    transition: 0.2s ease-in;
    background-color: var(--cream-color);
    position: relative;
    max-width: 200px;
}

.content:hover{
    box-shadow: 0 0 10px rgb(42, 47, 79, 0.5);
    transform: translateY(-10px);
}

.content img{
    width: 30%;
}

.stats p{
    text-align: center;
    font-size: small;
    font-style: italic;
}

#stats-illust{
    width: 15%;
    display: inline-block;
    
}

#yt-video {
    display: flex;
    justify-content: center;
    align-items: center;

}

.news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    padding: 0 5%;
}
  
.image{
    margin: 0 30px;
    width: 25%;
}

.news-container button{
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.news-container h2 {
    font-size: 1.5em;
}

.news-container p {
    font-size: 1em;
    margin-bottom: 5%;
}

form {
    display: flex;
    align-items: center;
}

input[type="email"] {
    width: 50%;
    padding: 5px;
    margin-right: 10px;
    font-family: 'Raleway', serif;
}

form button{
    font-family: 'Raleway', serif;
    font-weight: bold;
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    #welcome-txt{
        display: none;
    }

    .welcome .grid{
        grid-template-columns: 1.5fr 1fr;
        gap: 1em;
    }

    .illustration #blob-shadow{
        width: 28%;
        bottom: 25%;
        right: 18%;
    }

    .stats .container,
    #stats-h1{
        padding: 0 20%;
        font-size: 1em;
    }

    .welcome{
        min-height: 80vh;
        padding-right: 12%;
    }

    .welcome-msg h1{
        font-size: 2em;
    }

    .welcome-msg p,
    .button{
        font-size: 1em;
    }

    .illustration img{
        width: 140%;
    }
}

@media (max-width: 768px){
    header{
        padding: 0;
    }

    #welcome-txt{
        display: none;
    }
    
    .welcome{
        padding-bottom: 8%;
    }

    .welcome,
    .welcome-content
    {
        width: 100%;
        text-align: center;
        margin: 0;   
    }

    .welcome-msg h1{
        width: 100%;
    }

    .btn-welcome{
        position: relative;
        width: 50%;
    }

    .welcome .grid{
        grid-template-columns: none;
    }

    .illustration #blob-shadow{
        width: 60%;
        bottom: 5%;
        right: 15%;
    }

    .illustration img{
        width: 70%;
    }

    .stats .container,
    #stats-h1{
        padding: 0 20%;
        font-size: 1em;
    }

    .stats .content{
        font-size: 1em;
        min-width: 120px;
    }

    #stats-illust img{
        margin-top: 30%;
        width: 100%;
    }

    .news-container .details{
        transform: scale(0.9);
    }

    .news-container .image{
        width: 40%;
        padding: 2%;
        margin: 0;
    }
}