:root{
    --secondary-color: #ffb09d;
    --bg-color: #f8f6e7;
    --text-color: #34f12;
    --primary-color: #fcb27c;
    --cream-color: #fdeac7;
    --dark-color: #583a27;
    --h1-font: 6rem;
    --h2-font: 3.5rem;
    --p-font: 1rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.75em;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

h1, h2{
    font-weight: bolder;
    line-height: 1.5em;
    margin: 10px 0;
    font-family: 'Mali', cursive;
}

h1{
    font-size: var(--h1-font);
}

h2{
    font-size: var(--h2-font);

}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

.ri-arrow-right-s-line img{
    opacity: 0.8;
    width: 10px;
    height: 10px;
    padding-top: 5px;
}

#logo img{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#logo{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

#logo h1{
    font-size: 1em;
    margin-left: 2%;
}

.button {
    display: inline-block;
    background: var(--primary-color);
    border-radius: 30px;
    font-weight: bolder;
    font-size: small;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.button:hover{
    transform: scale(1.1);
}

.ri-arrow-right-s-line {
    display: none;
}

#menu-icon {
    color: var(--text-color);
    font-size: x-large;
    cursor: pointer;
    z-index: 101;
    padding: 5px;
    display: none;
}

.button:hover .ri-arrow-right-s-line {
    display: inline-block;
}

header .navbar{
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 0 10%;
}

.navbar {
    background-color: var(--primary-color);
    width: 100%;
    overflow: hidden;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    padding: 2% 0;
    align-items: center;
}

.navbar a {
    display: block;
    font-weight: bold;
    padding: 8px;
    margin: 0 5px;
    border-bottom: 2px transparent solid;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--cream-color);
    border-bottom: 2px var(--cream-color) solid;
}

#nav-list{
    display: flex;
    flex-direction: row;
}

.main-category {
    display: flex;
    flex-direction: column;
    padding: 2% 3%;
    margin: 5%;
    margin-top: 0;
    border-radius: 30px;
    background-color: var(--cream-color);
}

.main-book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-book {
    text-align: center;
    margin: 3% 0;
    width: 20%;
}

.main-book img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-title {
    margin: 15px 0;
    font-size: large;
}

.category {
    align-self: center;
}

.category a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}

#footer-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: medium;
    border-bottom: 2px transparent solid;
    margin: 0;
}

#social-media-icons .icon{
   font-size: xx-large;
   font-weight: 500;
}

#social-media-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#social-media-icons a:hover{
    transform: translateY(-5px);
    border-bottom: none;
}

.grid{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    justify-content: center;
    align-items:  center;
    column-gap: 0.5em;
    height: 100%;
}

.text-center{
    text-align: center;
}


@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInBottom{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateX(0%);
    }
}


@media only screen and (min-width: 768px) and (max-width: 992px){
    .category {
        max-width: 100%;
        padding-left: 0;
        padding-top: 0;
    }

    .button{
        font-size: small;
    }

    .navbar{
        padding: 3%;
    }

    #logo{
        width: 40%;
    }

    .navbar a:hover{
        border-bottom: none;
    }

}

@media (max-width: 768px){
    .button{
        font-size: small;
    }

    .button:hover .ri-arrow-right-s-line{
        display: none;
    }
    
    .category {
        max-width: 100%;
        padding-left: 0;
        padding-top: 0;
    }

    header .navbar{
        padding: 10px;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        font-size: small;
        animation: slideInBottom 1s ease-in;
    }

    #nav-list{
        text-align: center;
        display: none;
    }

    #menu-icon{
        display: block;
    }

    #logo{
        width: 60%;
        margin-bottom: 8%;
    }

    .navbar a:hover{
        border-bottom: transparent;
    }

    header .navbar ul {
        padding: 0 3rem;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5%;
    }

    .button {
        font-size: smaller;
        padding: 10px;
    }

    footer .navbar a,
    #social-media-icons i
     {
        font-size: 0.8em;
    }

    #social-media-icons,
    #footer-nav{
        width: 100%;
    }

}