:root{
    --primary-color: rgb(196, 223, 223);
    --bg-color: rgb(248, 246, 244);
    --text-color: rgb(42, 47, 79);
    --secondary-color: rgb(252, 209, 209);
    --cream-color: rgb(236, 226, 225);
}

#logo {
    width: 150px;
    height: 100%;
    display: block;
    cursor: pointer;
}

#welcome-msg p {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    z-index: 1;
    position: relative;
}

#start{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 0;
    position: relative;
}

#yt-video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.welcome{
    height: 450px;
    background-color: var(--primary-color);
    position: relative;
    padding: 10px 100px;
}

.welcome::before,
.welcome::after{
    content:'';
    position:absolute;
    height: 130px;
    bottom: -70px;
    right:0;
    left:0;
    background-color: var(--bg-color);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

.welcome h1{
    font-size: xx-large;
}

.welcome p{
    font-size: larger;
    margin-bottom: 20px;
}

.illustration{
    z-index: 1;
}


.mainCategory {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mainBookContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mainBook {
    text-align: center;
    margin: 30px;
}

.mainBook img {
    width: 190px;
    height: 280px;
    background-color: var(--cream-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-title {
    margin: 15px 0;
    font-size: large;
}

.btn-welcome{
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    z-index: 1;
    position: relative;
}

.btn-welcome:hover{
    background-color: var(--bg-color);
    opacity: 0.9;
}

.category {
    position: relative;
    padding-left: 35px;
    padding-top: 30px;
    max-width: 100px;
}

.category a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.category::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    height: 85%;
    width: 18px;
    background: linear-gradient(var(--primary-color), var(--bg-color));
}

.stats{
    z-index: 1;
    position: relative;
}

.stats .container{
    margin: 50px 0;
    padding: 0 200px;
    display: flex;
    justify-content: center;
}

.stats h1{
    padding: 0 200px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

.stats-heading{
    font-size: larger;
}

.content{
    font-family: 'Bentham', sans-serif;
    padding: 0 10px 20px 10px;
    margin: 0 10px;
    font-size: medium;
    border-radius: 10px;
    transition: 0.3s ease-in;
    background-color: var(--cream-color);
    position: relative;
}

.content:hover{
    box-shadow: 0 0 10px rgb(42, 47, 79, 0.5);
    transform: translateY(-10px);
}

.content img{
    width: 30%;
}

.stats p{
    text-align: center;
    font-size: small;
    font-style: italic;
}

@media (max-width: 768px) {
    header .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    header .navbar ul {
        flex-direction: column;


    }

    header .mobile-nav-icon {
        display: block;
    }

    #logo {
        width: 200px;
    }

    .category {
        max-width: 100%;
        padding-left: 0;
        padding-top: 0;
    }

    .category::before {
        content: none;
    }
}

@media (max-width: 500px){
    
}