:root{
    --primary-color: #fd7c87;
    --bg-color: rgb(242, 243, 247);
    --text-color: rgb(42, 47, 79);
    --secondary-color: #ffcd88;
    --cream-color: rgb(236, 226, 225);
}

.news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
  
.image-column {
    flex: 1;
    margin: 0 30px;
}

.image-column img{
    width: 50%;
    float: right;
}

.news-container button{
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.details-column {
    flex: 1.5;
    padding: 20px;
}

.news-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.news-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

form {
    display: flex;
    align-items: center;
}

input[type="email"] {
width: 200px;
height: 30px;
padding: 5px;
margin-right: 10px;
}


#start{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 0;
    position: relative;
}

#yt-video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.welcome{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    position: relative;
    padding: 5% 8% 5% 10%;
    background: linear-gradient(var(--primary-color), var(--secondary-color));
}

.welcome::before,
.welcome::after{
    content:'';
    position:absolute;
    height: 100px;
    bottom: -70px;
    right:0;
    left:0;
    background-color: var(--bg-color);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

.welcome-msg{
    animation: slideInLeft 0.55s ease-in-out;
    z-index: 4;
}

#welcome-txt{
    font-style: italic;
    margin: 0;
}

.welcome-content{
    margin-left: 10%;
    margin-bottom: 30px;
}

.welcome-msg h1{
    font-size: xx-large;
}

.welcome-msg p{
    font-size: larger;
    margin-bottom: 25px;
}

.illustration{
    z-index: 1;
}

.illustration #blob-shadow{
    z-index: -5;
    position: absolute;
    bottom: 8em;
    right: 8em;
    width: 40%;
    height: auto;
    opacity: 0.7;
}

.illustration img{
    z-index: 3;
    position: relative;
    animation: slideInRight 1s ease-in-out;
}

.main-category {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    margin-bottom: 40px;

}

h1 .stats-heading{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 28px;
}

.main-book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-book {
    text-align: center;
    margin: 30px;
}

.main-book img {
    width: 190px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-title {
    margin: 15px 0;
    font-size: large;
}

.btn-welcome{
    background-color: var(--primary-color);
    color: var(--text-color);
    z-index: 1;
    position: absolute;
    border: 2px solid transparent;
}

.btn-welcome:hover{
    background-color: transparent;
    border: 2px solid var(--bg-color);
    color: var(--text-color);
}

.btn-welcome a,
.btn-welcome i{
    vertical-align: middle;
}

.btn-welcome i{
    font-size: 20px;
}

.btn-welcome a{
    color: var(--text-color);
}

.category {
    font-style: italic;
    text-decoration: underline;
    margin-left: 8%;
}

.category a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.stats{
    z-index: 1;
    position: relative;
}

.stats .container{
    margin: 50px 0;
    padding: 0 200px;
    display: flex;
    justify-content: center;
}

.stats h1{
    padding: 0 200px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

.stats-heading{
    font-size: larger;
}

.content{
    font-family: 'Bentham', sans-serif;
    padding: 0 10px 20px 10px;
    margin: 0 10px;
    font-size: medium;
    border-radius: 10px;
    transition: 0.2s ease-in;
    background-color: var(--cream-color);
    position: relative;
    max-width: 200px;
}

.content:hover{
    box-shadow: 0 0 10px rgb(42, 47, 79, 0.5);
    transform: translateY(-10px);
}

.content img{
    width: 30%;
}

.stats p{
    text-align: center;
    font-size: small;
    font-style: italic;
}

#stats-illust{
    width: 15%;
    display: inline-block;
    
}

@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInBottom{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateX(0%);
    }
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    .category {
        max-width: 100%;
        padding-left: 0;
        padding-top: 0;
    }
    .welcome .grid{
        grid-template-columns: 1.5fr 1fr;
        gap: 1em;
    }

    .illustration #blob-shadow{
        width: 30%;
        top: 2em;
        right: 10em;
    }

    .stats .container,
    .stats h1{
        padding: 0 40px;
        font-size: medium;
    }

    .welcome{
        min-height: 80vh;
        padding-right: 15%;
    }

    .welcome-msg h1{
        font-size: large;
    }

    .welcome-msg p{
        font-size: smaller;
    }

    .illustration img{
        width: 130%;
    }

    .button{
        font-size: small;
    }
}

@media (max-width: 768px){
    .category {
        max-width: 100%;
        padding-left: 0;
        padding-top: 0;
    }

    .welcome{
        padding-bottom: 10%;
    }

    .welcome,
    .welcome-content
    {
        text-align: center;
        margin: 0;   
    }

    .btn-welcome{
        position: relative;
        width: 50%;
    }

    .button:hover .ri-arrow-right-s-line{
        display: none;
    }

    .welcome .grid{
        grid-template-columns: none;
    }

    .illustration #blob-shadow{
        width: 70%;
    }

    .illustration img{
        width: 80%;
    }

}